# Database
db.sqlite3

# User Avatar and Banner Image
static/images/avatar/*
!static/images/avatar/avatar.svg
static/images/banner/*
!static/images/banner/banner.jpg
static/images/tweets/*

# Ignore Python byte-compiled files
**/__pycache__/*

# Ignore Django Migrations
**/migrations/*.py
**/migrations/*/*.py
**/migrations/*/__pycache__/
**/migrations/*/*/__pycache__/
!**/migrations/__init__.py
