# Datebase
db.sqlite3

# User Avatar and Banner Image
static/images/avatar/*
!static/images/avatar/avatar.svg
static/images/banner/*
!static/images/banner/banner.jpg
static/images/tweets/*

# __pycache__
twitter/__pycache__/*
user/__pycache__/*
home/__pycache__/*

# Migrations user and home
user/migrations/*
!user/migrations/__init__.py
home/migrations/*
!home/migrations/__init__.py
