:root {
  --twitter-background: #15202b; /* Background color for the entire interface */
  --twitter-transprant:#5B708366; 
  --twitter-primary: #1da1f2; /* Primary color for buttons and links */
  --twitter-primary-hover: #0095f6;
  --twitter-light-blue: #d1edffc5;
  --twitter-text: #ffffff; /* Text color for the interface */
  --twitter-btn: #263341; /* Background color for hover state on elements */
  --twitter-hover: #1c2732; /* Background color for hover state on elements */
  --twitter-border: #657786; /* Border color for elements */
  --twitter-placeholder: #8b98a5; /* Placeholder text color */
}
