:root {
  --twitter-background: #15212a; /* Background color for the entire interface */
  --twitter-primary: #1da1f2; /* Primary color for buttons and links */
  --twitter-text: #e1e8ed; /* Text color for the interface */
  --twitter-btn: #263341; /* Background color for hover state on elements */
  --twitter-hover: #1c2732; /* Background color for hover state on elements */
  --twitter-border: #657786; /* Border color for elements */
  --twitter-placeholder: #8899a6; /* Placeholder text color */
}
