{% extends 'index.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/user/style.css' %}" />
<main class="container sign form-parent">
  <div class="signup-container form-container">
    <div class="header-x-steps">
      <a href="{% url 'home' %}" class="close-a"
        ><i class="fa-solid fa-xmark"></i
      ></a>
      <h6>Step {{step}} of 5</h6>
    </div>
    {% if step == 1 %} 
    {% include 'user/signup/step1.html' %} 
    {% elif step == 2 %} 
    {% include 'user/signup/step2.html' %} 
    {% elif step == 3 %} 
    {% include 'user/signup/step3.html' %} 
    {% elif step == 4 %} 
    {% include 'user/signup/step4.html' %} 
    {% elif step == 5 %} 
    {% include 'user/signup/step5.html' %} 
    {% else %} 
    {% include 'user/signup/step1.html' %}
    {% endif %}
  </div>
</main>
{% endblock content %}
