.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav{
    width: 317px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 97vh;
    overflow: auto;
    border-right: 1px solid var(--twitter-border);
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: column;
}

.nav-sec{
    padding: 12px;
    font-size: 20px;
    color: var(--twitter-text);
    border-radius: 15px;
}

.nav-sec:hover{
    text-decoration: none;
    background: var(--twitter-transprent);
}

.nav-sec span{
    margin-left: 15px;
}

.nav-sec i{
    font-size: 24px;
}
