.container {
  width: 100%;
  display: flex;
  flex-direction: row; 
}

/* Nav */
.nav {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 97vh;
  overflow: auto;
  border-right: 1px solid var(--twitter-border);
  padding: 10px;
  position: fixed;
}


.nav-sec {
  padding: 12px;
  font-size: 19px;
  color: var(--twitter-text);
  border-radius: 25px;
}

.nav-sec:hover {
  text-decoration: none;
  background: var(--twitter-hover);
}
.nav-logo {
  padding: 12px;
  font-size: 30px;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.nav-logo:hover {
  text-decoration: none;
  background: var(--twitter-light-blue);
}

.nav-sec span {
  margin-left: 15px;
}

.nav-sec i {
  font-size: 22px;
}

.nav-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin-bottom: 10px;
    background: none;
    padding: 12px;
    border-radius: 50px;
    text-decoration: none;
}

.nav-user:hover{
    background: var(--twitter-hover);
    text-decoration: none;  
}

.nav-user i{
    font-size: 20px;
    color: var(--twitter-text);
}

.nav-user-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.nav-user-name span{
    font-size: 15px;
    color: var(--twitter-text);
    font-weight: bold;
}

.nav-user-name small{
    font-size: 15px;
    color: var(--twitter-placeholder);
}

/* Nav end */

/* Right bar */
.right-bar{
  height: 97vh;
  width: 424px;
  position: fixed;
  right: 0;
  border-left: 1px solid var(--twitter-border);
}
/* Right bar end */


/* Main */
.main{
  width: 620px;
  position: absolute;
  top: 0;
  left: 321px;
}

.main-header{
  background: var(--twitter-transprant);
  width: 620px;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid var(--twitter-border);
  z-index: 1;
  backdrop-filter: blur(4px);
}

/* Tweet */
.tweet-box{
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--twitter-border);
}

.texta{
  color: var(--twitter-text);
  font-size: 21px;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  background: none;
  overflow: auto;
  line-height: 1.4;
  min-height: 10px;
  height: auto;
  margin-top: 23px;
  padding-right: 5px;
}

.texta::placeholder{
  color: var(--twitter-placeholder);
}

.actions{
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}


.actions .action button{
  margin-left: 5px;
  background: none;
  font-size: 15px;
  color: var(--twitter-primary);
  padding: 17px;
}

.actions .action button i{
  padding: 1px;
}

.actions .action button:hover{
  background: var(--twitter-light-blue);
}

